/*  General styles */

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	--text-color: #212121;
	--accentcolor-dark: #274c77;
	--accentcolor-light: #a3cef1;
	--background-colored: #d3e4f2;
	--background-grey: #e7ecef;
	--light-basic: #ffffff;
}

/*  We will need this part just for later, the dark-light mode switcher

.darkmode {
	--text-color: #212121;
	--accentcolor-dark: #274c77;
	--accentcolor-light: #a3cef1;
	--background-colored: #d3e4f2;
	--background-grey: #e7ecef;
	--light-basic: #ffffff;
} */

body {
	font-family: "Open Sans", sans-serif;
	color: var(--text-color);
	display: flex;
}

/* Sidebar styles */

.sidebar {
	background: var(--background-colored);
	width: 25%;
	min-height: 100vh;
}

/* Task section styles */

main {
	background: var(--background-grey);
	width: 88%;
	min-height: 100vh;
	padding: 2rem;
}

.menu-logo {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.menu-logo-left {
	display: flex;
	align-items: center;
	/* gap: 1rem; */
}

.burger {
	/* will have to change display mode when we need the hamburger menu */
	display: none;
	flex-direction: column;
	align-items: center;
}

.burger div {
	background: var(--accentcolor-dark);
	display: block;
	width: 30px;
	height: 4px;
	border-radius: 2px;
	margin-bottom: 6px;
	position: relative;
	top: 0;
	transition: all ease-in-out 0.4s;
}

#burger-bar-3 {
	margin-bottom: 0;
}

label {
	width: 65px;
	height: 33px;
	position: relative;
	display: block;
	border-radius: 33px;
	border: 2px solid #A1A1A1; 
	background-color: var(--background-colored);
	cursor: pointer;
	transition: .3s;
}

label::after {
	content: "";
	width: 24px;
	height: 24px;
	position: absolute;
	top: 3px;
	left: 3px;
	background-color: rgb(245, 177, 50);
	border-radius: 50%;
	transition: .3s;
}

input[type="checkbox"] {
	width: 0px;
	height: 0px;
	visibility: hidden;
}

input[type="checkbox"]:checked + label {
	background-color: var(--background-colored);
	border: 2px solid #A1A1A1; 
}

input[type="checkbox"]:checked + label::after {
	left: 58px;
	transform: translateX(-100%);
	background-color: var(--accentcolor-dark);
}

label i {
	position: absolute;
	z-index: 10;
	font-size: 1rem;
	top: 7px;
}

label .fa-sun {
	color: #ffffff;
	left: 7px;
	transform: .3s;
}

label .fa-moon {
	color: #a1a1a1;
	left: 40px;
	transform: .3s;
}

input[type="checkbox"]:checked + label .fa-sun {
	color: #a1a1a1;
} 

input[type="checkbox"]:checked + label .fa-moon {
	color: #ffffff;
} 

.logo img {
	width: 125px;
}

.my-day h1,
.completed h2 {
	font-size: 2rem;
	color: var(--accentcolor-dark);
	margin-bottom: 1rem;
}

.date {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 1rem;
}

.fa-calendar {
	color: var(--accentcolor-dark);
	padding-right: 0.5rem;
}

#date {
	font-weight: light;
}

.task-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 1rem 0 3rem 0;
}

.task,
.input-field {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	background-color: var(--light-basic);
	padding: 0rem 1rem;
	border-radius: 0.5rem;
    box-shadow: 2px 4px 4px 0 rgba(39, 76, 119, .15);
}

.input-field {
	position: relative;
	padding: 0;
}

.circle-task {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#new-task {
	justify-content: flex-start;
	background-color: var(--accentcolor-light);
	outline: none;
	border: none;
	padding-left: 2.5rem;
	cursor: pointer;
}

.new-task,
.new-task::placeholder {
	color: var(--accentcolor-dark);
	font-weight: bold;
	font-size: 1rem;
}

.fa-plus {
	position: absolute;
	padding: 0 1rem;
	color: var(--accentcolor-dark);
	font-weight: bold;
	font-size: 1rem;
}


.task-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}

.task-left p {
	font-size: 0.9rem;
}

.task-right {
	display: flex;
	gap: 1rem;
}

.fa-circle,
.fa-star,
.fa-circle-check,
.fa-trash-can {
	color: var(--accentcolor-light);
	cursor: pointer;
}

.fa-pencil {
	color: var(--accentcolor-dark)
}

.completed-task p {
	text-decoration: line-through;
}


/*  MEDIA QUERIES ----------------------- */

@media only screen and (max-width: 768px) {

	.sidebar {
		display: none;
	}

	main {
		width: 100%;
	}
}